body {
  margin: 0;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background-image: url('../public/img/background.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: 'Jost', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
